.page-header {
  @include flex-right-center;
  width: 100%;
  background-color: $color-blue;
  padding: 0 3.75em;
  position: fixed;
  z-index: 90;

  @include lg {
    position: static;
  }

  .main-nav {
    @include flex-right-center;
    width: 100%;

    ul {
      @include flex-right-center;

      li {
        display: none;

        @include lg {
          display: block;
        }

        &:last-child {
          a {
            border: 0;
          }
        }

        &.lang {
          &:before {
            content: url(../images/icons/icon--flag.svg);
          }
        }
      }
    }
  }

  a {
    @include typo-nav-item;
    padding: $rem10 $rem20 $rem10 0;
    margin-right: $rem20;
    border-right: 2px solid #201DBC;

    &.dropdown {
      &:after {
        content: url(../images/icons/icon--caret.svg);
        display: inline-block;
      }
    }
  }
}
