.sidebar {
  box-shadow: $box-shadow;
  display: none;

  @include lg {
    display: block;
  }

  &__header {
    text-align: center;
    padding: $rem20;
    border-bottom: 1px solid #c1c1c1;

    &--info {
      a {
        display: block;
        margin-top: $rem16;
        text-decoration: none;
        position: relative;

        &:after {
          content: url(../images/icons/icon--edit.svg);
          position: absolute;
          top: 3px;
          right: $rem40;
        }
      }
    }
  }

  &__content {
    padding: $rem15 $rem20;
    border-bottom: 1px dashed #c1c1c1;
    position: relative;

    &:nth-child(6) {
      border: 0;

      &:before,
      &:after {
        display: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 47%;
      bottom: -11px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #c1c1c1;
      clear: both;
    }

    &:after {
      content: '';
      position: absolute;
      left: 47%;
      bottom: -9px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $bg-color-base;
      clear: both;
    }

    &.opened {
      background-color: $color-white;

      &:after {
        border-top: 10px solid $color-white;
      }
    }

    &--line {
      @include flex-equal;
      margin-bottom: $rem15;
    }

    .price {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $color-blue;
    }

    .flight-list {
      li {
        margin-bottom: $rem10;
      }

      .title {
        display: inline-block;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #343434;
        text-decoration: none;

        &:after {
          content: '';
          clear: both;
        }

        .interval {
          display: block;
          font-size: 12px;
          line-height: 15px;
          font-weight: normal;
        }
      }

      .info {
        display: block;
        font-size: 12px;
        line-height: 15px;
      }
    }

    .passenger-list {
      margin: $rem10 0;

      li {
        @include flex-center;
      }

      .passenger-icon {
        float: left;
        margin-right: $rem10;
        box-shadow: $box-shadow;
      }
    }

    .message {
      display: block;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #919191;
      padding: 0 $rem20;
      margin-top: $rem10;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        width: 16px;
        height: 16px;
        background-color: $color-blue;
        border-radius: 100%;
        border: 3px solid #e1e1e1;
      }
    }
  }

  h2 {
    @include content-item-label;

    &.check {
      &:before {
        content: url(../images/icons/icon--check.svg);
        padding-right: $rem10;
      }
    }
  }

  .total {
    @include flex-equal;
    align-items: center;
    background-color: $color-blue;
    color: $color-white;
    padding: $rem10 $rem20;

    &__left {
      @include flex-center;

      p {
        margin-right: $rem10;

        &:before {
          content: url(../images/icons/icon--cart.svg);
          margin-right: $rem10;
        }
      }
    }
  }
}
