header {
  @include flex-right-center;
  width: 100%;
  background-color: $color-blue;
  padding: 0 3.75em;

  @include sm {
      background-color: red;
  }

  .main-nav {
    @include flex-right-center;
    width: 100%;

    ul {
      @include flex-right-center;

      li {
        &:last-child {
          a {
            border: 0;
          }
        }
      }
    }
  }

  a {
    @include typo-nav-item;
    padding: $rem10 $rem20 $rem10 0;
    margin-right: $rem20;
    border-right: 2px solid #201DBC;

    &.dropdown {
      &:after {
        content: url(../images/icons/icon--caret.svg);
        display: inline-block;
      }
    }
  }
}
