.dashboard {
  background-color: $color-white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  margin-bottom: $rem20;
  padding: 0 $rem20 $rem20;

  @include lg {
    padding: 0 $rem50 $rem10 / 2;
  }

  &__row {
    border-bottom: 1px solid $color-shade;
    margin-bottom: $rem20;
    padding-bottom: $rem20;

    &:last-child {
      border: 0;
      margin-top: $rem20;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;

      @include lg {
        @include flex-equal-center;
        flex-direction: row;
      }

      .link {
        margin-bottom: $rem20;

        @include lg {
          margin: 0;
        }
      }
    }

    .passenger-icon {
      position: relative;
      top: -$rem10 / 2;
    }

    h3 {
      margin: $rem20 0;

      a {
        padding-left: $rem10 / 2;
      }
    }

    h4 {
      position: relative;
      top: -$rem20;
      left: $rem60 * 1.5;
    }

    .helper {
      font-size: 12px;
      line-height: 18px;
      color: $color-grey;

      @include lg {
        margin-left: $rem20;
      }
    }

    .link {
      font-weight: 700;
      font-size: 12px;
      line-height: 24px;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: $color-pink;
      transition: $transition;
      display: block;

      @include lg {
        display: inline-block;
      }

      &:hover {
        transition: $transition;
        color: #b21479;
      }
    }
  }

  .mobile.text {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #999;
    padding: 0;

    p {
      position: relative;
      display: block;
      padding-left: $rem20;

      &:before {
        content: url(../images/icons/icon--info-mobile.svg);
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
  }
}
