// Buttons

.btn {
  background: $color-pink;
  border-radius: $border-radius;
  color: $color-white;
  text-transform: uppercase;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  padding: $rem15;
  width: 180px;
  cursor: pointer;
  transition: $transition;

  &:hover {
    transition: $transition;
    background-color: #b21479;
  }
}

.mobile.back {
  display: block;
  height: auto;
  padding: $rem20 0 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: $color-pink;
  padding-left: $rem20;
  position: relative;

  &:before {
    content: url(../images/icons/icon--select.svg);
    display: inline-block;
    transform: rotate(90deg);
    position: absolute;
    left: 0;
    top: 15px;
  }
}
