// Forms, inputs

.form {
  display: block;
  width: 100%;
  position: relative;
  top: -$rem20;

  &__row {
    @include flex-equal;
    flex-wrap: wrap;

    &--field {
      @include flex-center-w;
      border: 1px solid #999;
      border-radius: $border-radius;
      width: 100%;

      @include lg {
        width: 78%;
      }

      .radio {
        @include flex-full-center;
        padding: 0 $rem30;
        height: 70px;

        &:last-child {
          border-left: 2px solid #999;
        }
      }

      &:last-child {
        border: 2px solid #999;

        @include lg {
          width: 200px;
        }
      }
    }

    .text {
      width: 100%;
      margin: 0;
      font-family: $main-font;
      font-size: 16px;
      padding: $rem24 0 $rem24 $rem16;
      border: 0;

      &:last-child {
        margin-left: -1px;
        border-left: 1px solid #999;
      }
    }
  }
}
