main
  .container

    h1 Passengers and baggages

    .dashboard
      .dashboard__row
        form.form
          .passenger-icon
            img(src="images/icons/icon--male.svg")
          h4 1. passenger (adult)
          .form__row
            .form__row--field
              input.text(type="text", placeholder="First name")
              input.text(type="text", placeholder="Last name")
            .form__row--field
              .radio
                input#female(type='radio' name='gender' value='female')
                label(for='female' value='Female') Female
              .radio
                input#male(type='radio' name='gender' value='male' checked='checked')
                label(for='male' value='Female') Male
        .form__footer
          a.link(href="javascript:void(0);") Special assistance?
          span.helper Fill out your name and activate your Privilege Pass!

      .dashboard__row
        .checker
          li
            input.checkbox#check1(type="checkbox")
            label(for="check1") I select the same for both ways
        
        h3 Checked-in baggages
          a.info(href="javascript:void(0);")
            img(src="images/icons/icon--info.svg")
        
        .baggages
          .baggages__item.selected
            img(src="images/icons/icon--baggage-10kg.svg")
            p
              b 10 kg
            p.price Ft 20,600
          .baggages__item.popular
            .ribbon
              span Popular
            img(src="images/icons/icon--baggage-20kg.svg")
            p
              b 20 kg
            p.price Ft 48,900
          .baggages__item
            img(src="images/icons/icon--baggage-32kg.svg")
            p
              b 32 kg
            p.price Ft 61,200
        
        .checker
          li
            input.checkbox#check2(type="checkbox")
            label(for="check2") I don't want to carry a checked-in bag
        
        .select
          select
            option(selected='') Travel with sport equipment
            option Travel without sport equipment
      
      .dashboard__row
        h3 Cabin baggage
        
        .cabin
          .cabin__item
            .cabin__item--content
              .image
                img(src="images/icons/icon--carry-two.svg")
              .text
                p
                  | 2 carry on bags 
                  span with WIZZ Priority
                ul
                  li bring both on board
                  li priority boarding included 
                  li.last only 4 left on this flight
            .cabin__item--button
              a(href="javascript:void(0);")
                | Add for Ft1,890
                span /person
          .separator
            p or
          .cabin__item
            .cabin__item--content
              .image
                img(src="images/icons/icon--carry-one.svg")
              .text
                p 1 carry on bag
                ul
                  li max. 40 × 30 × 20 cm 
                  li max. 10 kg
            .cabin__item--button
              a(href="javascript:void(0);") Add for free
        
        .select
          select
            option(selected='') Travel with sport equipment
            option Travel without sport equipment
      
      .dashboard__row
        button.btn Next
        a.link(href="javascript:void(0);") add same to all passengers
