header
  nav.main-nav
    ul
      li
        a.dropdown(href="/") Plan
      li
        a.dropdown(href="/") Information
      li
        a(href="/") Check-in & Bookings
      li
        a(href="/") Sign In
      li
        a.dropdown(href="/") English (GBP)
