// typo

h1 {
  @include heading-main;
  margin: $rem10 / 1.5 0 $rem20;

  @include lg {
    margin: $rem20 0;
  }
}

h2 {
  @include heading-label;
}

h3 {
  @include heading-label;
}

h4 {
  @include heading-label-small;
}

.line-label {
  @include typo-line-label;
}

b {
  font-weight: 700;
}
